.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent {
  min-height: 290px;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
}
.mobileButtonDiv {
  justify-content: center;
  padding: 0 !important;
}

.button {
  width: 100%;
  margin: 0 !important;
  padding: 8px !important;
}
